@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
        
body {
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: #061414;
  height: 170vh;
}
.body_size_x{
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: #061414;
  height: 50vh;
}
.body_userflow_training_1{
  margin: 0;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-color: #061414;
  height: 100vh;
}
.header {
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: #061414;
}

.footer {
  padding-bottom: env(safe-area-inset-bottom);
  background-color: #061414;
}

.toptext{
  margin: 0px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  
}
.navbarup{
  margin: 5px auto;
 
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  height: 47px;
  width: 353px;
  background-color:rgba(255, 255, 255, 0.04);
  border-radius: 28px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.colortextgreen{
text-decoration: none;
color: #9DFF00;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.colortextwhite{
text-decoration: none;
color: rgb(255, 255, 255);
}
.lunedì{
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 35.25px;
width: 55px;
background-color: black;
border-radius: 28px;
box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}
.separator{
height: 20px;
width: 71px;
display: flex;
justify-content: center;
align-items: center;
}
.tittle_data h3 {
  border-bottom: #ffffff11 1px ;
  padding-top: 5px;
  height: auto;
  width: auto;
  margin: 0 auto;
  text-align: center; /* Ensure text is centered within the element */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
.training_data{
  margin: 10px auto 20px auto;
  width: 353px;
  height: 142px;
  background-color: black;
  border-radius: 11px;
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}
.training_hour{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 70px;
  width: 155px;
 }
.kcal{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  height: 70px;
  width: 155px;
}
.training_up {
  color: rgb(255, 255, 255);
  font-size: 15.14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium weight */
}
.training_down {
  color: #ECE072;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Regular weight */
}
.kcal_up h3 {
  color: rgb(255, 255, 255);
  font-size: 15.14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium weight */
}
.kcal_down h3 {
  color: #00FFD7;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Regular weight */
}
.container_1{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 335px;
}
.separetor_2{
  width: 335px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.16);
  margin: 0px auto;
}
.container_2{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 335px;
  
 }
.intensita{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 70px;
  width: 155px;
 
 }
.intensita_up {
  color: rgb(255, 255, 255);
  font-size: 15.14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium weight */
}
.intensita_down {
  color: #EA7676;
  font-size: 30px;
  margin-left: 44px;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Regular weight */
}

.media_battito{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 155px;
  
}
.battito_up h3 {
  color: rgb(255, 255, 255);
  font-size: 15.14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium weight */
}
.battito_down h3 {
  color: #E28850;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Regular weight */
}






.line{

margin-right: auto;
margin-left: auto;
width: 353px;
height: 1px;
background-color:rgba(255, 255, 255, 0.16);
}


h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700; /* Bold weight */
  color: rgb(255, 255, 255);
  margin: 0px;
}
.dailytraining{
  height: 36px;
  width: auto;
  margin-bottom: 10px;
  margin-top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  align-items: center;
  justify-content: center;

}
.card{
  height: 397px;
  width: 241px;
 padding-top: 5px;
  

 

  background-color: #000000;
  border-radius: 11px;
  margin: 20px auto;
  transform: translateX(-57px);
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}
.img{
  margin: 0 auto;
  height: 160px;
  width: 231px;
  background-image: url(panca\ paina.jpg);
  background-size: cover; /* Oppure 'cover' per riempire */
    background-position: center;
    background-repeat: no-repeat;
  border-radius: 11px;
  
}
.img_second_card{
  margin: 0 auto;
  height: 160px;
  width: 231px;
  background-image: url(cardio.jpg);
  background-size: cover; /* Oppure 'cover' per riempire */
    background-position: center;
    background-repeat: no-repeat;
  border-radius: 11px;
}
.container_exercise{

  gap: 10px;
  padding-left: 5px;
  margin: 10px auto;
  width: 239px;
  display: flex;
  flex-wrap: wrap;
  
}
.exercise{
  display: flex;
  align-items: center;
  
  height: 26px;
  border-radius: 4px;
  background-color: #ECE072;
}
.exercisemargin{
  margin-left: 5px;
  margin-right: 5px;
  color: #000000;
}
.orologio{
  height: 20px;
  width: 20px;
  background-image: url(Vector.svg);
  background-size: contain; /* Oppure 'cover' per riempire */
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-top: 20px;
}
.ordine_orario{
  display: flex;
  flex-direction: row;
  align-items: center;
}
h5{
  color: rgb(255, 255, 255);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}
.orario{
  height: 20px;
  width: 40px;
  display: flex;
  align-items: center;
  margin-left: 10px;
    margin-top: 20px;
}


.buttontext{
  border: none;
  margin: 3.5px auto;
  width: 230px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.buttontext h3{
  color:#9DFF00;
  height: 40px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-size: 25px;
}
.navbardown{
  position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 229px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    background: linear-gradient(to top, rgba(0, 0, 0, 1) 33%, rgba(0, 0, 0, 0) 100%);
}

.icon_obbiettivi{
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 23px;
  height: 23px;
  background-image: url(obbiettivi.svg);
  background-size: contain; /* Oppure 'cover' per riempire */
  background-position: center;
  background-repeat: no-repeat;
}
.obbiettivi{
  height: 100px;
  width: 57px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}


.condividi{
  height: 100px;
  width: 57px;
  text-decoration: none;
  color: rgb(255, 255, 255);
 
}
.icon_share{
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 23px;
  height: 23px;
  background-image: url(share.svg);
  background-size: contain; /* Oppure 'cover' per riempire */
  background-position: center;
  background-repeat: no-repeat;
}
.center_text_share h3 {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Regular weight */
  font-size: 9.84px;
}
p{
 margin: 0px;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 15px;
}
.icon_profile{
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 23px;
  height: 23px;
  background-image: url(person.svg);
  background-size: contain; /* Oppure 'cover' per riempire */
  background-position: center;
  background-repeat: no-repeat;
}
.profilo{
  height: 100px;
  width: 57px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.center_text_obbiettivi h3 {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Regular weight */
  font-size: 9.84px;
}
.center_text_profile h3 {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Regular weight */
  font-size: 9.84px;
}
.extra_train{
  height: 36px;
  width: 241px;
  margin-bottom: 10px;
  margin-top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}
.second_card{
  height: 349px;
  width: 241px;
 padding-top: 5px;
  

 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
  border-radius: 11px;
  margin: 10px auto;
  transform: translateX(-57px);
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}

.container_exercise_2{
  padding-left: 5px;
  margin: 10px auto;
  width: 239px;
  display: flex;
  flex-wrap: wrap;
}
.card_size_x{
  height: 78.54vh;
  width: 41.83vh;
 padding-top: 5px;
  

 

  background-color: #000000;
  border-radius: 38px;
  margin: 25px auto;
  
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}
.img_size_x{
  margin: 0 auto;
  height: 28.45vh; /* 227.6px converted to vh for an iPhone 14 Pro with a viewport height of 800px */
  width: 38.93vh;
  background-image: url(panca\ paina.jpg);
  background-size: cover; /* Oppure 'cover' per riempire */
    background-position: center;
    background-repeat: no-repeat;
  border-radius: 11px;
  
}
.container_exercise_size_x{

  gap: 10px;
  padding-left: 5px;
  margin: 20px auto;
  width: 38.93vh;
  display: flex;
  flex-wrap: wrap;
  
}
.exercise{
  display: flex;
  align-items: center;
  
  height: 4vh;
  border-radius: 4px;
  background-color: #ECE072;
}
.buttontext_size_x{
  border: none;
  margin: 5px auto;
  width: 39.24vh;
  height: 7.7vh;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.buttontext_size_x h3{
  color:#9DFF00;
  height: 40px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-size: 25px;
}
.x{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #00000000;
  margin : 20px auto;
  transform: translateX(157px);
  height: 44px;
  width: 44px;
}
.x h1{
  color: rgb(255, 255, 255);
}
.card_amount{
  margin: 20px auto;
  height: 5.69vh;
  width: 31.51vh;
  background-color: #000000;
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
  border-radius: 11px;
  display: flex;
  justify-content: center;
}
.undo{
  padding: 0px;
  height: 5.69vh;
  width: 7.70vh;
  border-top-left-radius:11px;
  border-bottom-left-radius: 11px;
  background-color: #000000;
  border: none;
  border-right: 1px solid rgba(255, 255, 255, 0.16);
}
.next{
  padding: 0px;
  height: 5.69vh;
  width: 7.70vh;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  background-color: #000000;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.16);
}
.count_card{
  width: 16.24vh;
  height: 5.69vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.count_card h1{
  width: 16.24vh;
  color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
  font-weight: 900; /* Black weight */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.freccia_sin{
  margin: 0px auto;
  height: 30px;
  width: 30px;
  background-image: url(freccia_sin.svg);
  background-size: contain; /* Oppure 'cover' per riempire */
    background-position: center;
    background-repeat: no-repeat;
}
.freccia_dext{
  margin: 0px auto;
  height: 30px;
  width: 30px;
  background-image: url(freccia_dext.svg);
  background-size: contain; /* Oppure 'cover' per riempire */
    background-position: center;
    background-repeat: no-repeat;
}
.card_exercise{
  display: flex;
  flex-direction: column;
 
  margin: 0px auto;
  height: 43.57vh;
  width: 37.91vh;
  background-color: #000000;
  border-radius: 27px;
  box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.25);
}
.tittle_card_exercise{
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  width: 37.91vh;

  display: flex;
  justify-content: center;
}
.tittle_card {
  color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
  font-weight: 700; /* Bold weight */
  font-size: 27px;
}
.container_carosello{
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin: 0px auto;
  height: 5.69vh;
  width: 32.81vh;
  background-color: #bd000000;
  border-radius: 11px;
}
 
/* Stile per il secondo carosello */
.container_carosello_2 {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin: 0px auto;
  height: 5.69vh;
  width: 32.81vh;
  background-color: #bd000000;
  border-radius: 11px;
}

/* Stile per il terzo carosello */
.container_carosello_3 {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin: 0px auto;
  height: 5.69vh;
  width: 32.81vh;
  background-color: #bd000000;
  border-radius: 11px;
}

.carousel-container {
  height: 5.68vh;
  width: 13.38vh;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  gap: 10px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background-color: #ffffff;
  border-radius: 13px;
  position: relative;
}

/* Nasconde la scrollbar su tutti i browser moderni */
.carousel-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.carousel-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.carousel-item {
  margin: 0px;
  flex: 0 0 auto;
  margin: 0 1vh;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif; /* Inter font */
  font-weight: 400; /* Regular weight */
  font-size: 14px; /* 14px size */
  scroll-snap-align: center;
  transition: transform 0.2s;
  color: rgba(0, 0, 0, 0.85); /* Nero con opacità al 85% */
}

/* Cambia il colore del numero quando è selezionato */
.carousel-item.selected {
  
  font-family: 'Inter', sans-serif; /* Inter font */
  font-weight: 600; /* SemiBold weight */
  font-size: 14px; /* 14px size */
  background: none; /* Rimuovi lo sfondo blu */
  color: black; /* Cambia il colore in nero quando selezionato */
  transform: scale(1.2);
}
.serie{
  height: auto;
  width: 32.81vh;
  margin: 13px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.serie h3{
  color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Regular weight */
  font-size: 14px;
}
.manualWeightInput{
  height: 5.68vh;
  width: 13.38vh;
  border-radius: 13px;
  border: 0px;
}

.dropdown-container {
  width: 9.60vh;
  height: 5.69vh;
  border-radius: 36px;
  overflow: hidden;
 
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-select {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 36px;
  font-size: 1.5vh;
  text-align: center;
  outline: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;

  background-image: url("tendina.svg");
  background-repeat: no-repeat;
  background-position: right 1vh center;
  background-size: 1.5vh;
  padding-right: 2vh;
}

/* Colori dinamici */
.custom-select.gray-text {
  color: #888;
}

.custom-select.black-text {
  color: #000;
}

.checkbox-container {
  position: relative;
  display: inline-block;
  width: 3.48vh;
  height: 3.48vh;
  border-radius: 7.26px;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7.26px;
  background-color: #fff;
  transition: background-color 0.3s, border 0.3s;
}

input[type="checkbox"]:checked + .checkmark {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: translate(-50%, -50%) rotate(45deg); /* Centra la freccia */
}

input[type="checkbox"]:checked + .checkmark:after {
  display: block;
}
.container_carosello_on_off{
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin: 0px auto;
  height: 5.69vh;
  width: 32.81vh;
  background-color: #bd000000;
  border-radius: 11px;
  
}
/* Regole per abilitare/disabilitare i container dei caroselli */
.enabled {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
